{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
<?php
// Setting Meta TITLE for better navigation
$this->assign('title', __('{{ singularHumanName }}'));

// Setting Custom JS for this screen
$this->assign('page_js', '');

// Setting custom css classs name for this screen
$this->assign('custom_css_name', '');
?>

{% set fields = Bake.filterFields(fields, schema, modelObject, indexColumns, ['binary', 'text']) %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <h1 class="m-0 col-9 col-md-10 col-lg-11"><?=__('{{ pluralHumanName }}');?></h1>
            <div class="col-3 col-md-2 col-lg-1  text-right"><?php echo $this->Html->link(__('New'), ['action' => 'add'], ['class' => 'btn btn-success btn']) ?></div>
        </div><!-- /.row -->
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card ">
                    <!-- /.card-header -->
                    <div class="card-body p-3">
                        <table class="table table-responsive table-hover defaultDataTable">
                            <thead>
                            <tr>
                                {% for field in fields %}
                                    <th scope="col"><?= $this->Paginator->sort('{{ field }}'); ?></th>
                                {% endfor %}
                                <th scope="col" class="actions text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach (${{ pluralVar }} as ${{ singularVar }}): ?>
                            <tr>
                                {% for field in fields %}
                                    {% set isKey = false %}
                                    {% if associations.BelongsTo %}
                                        {% for alias, details in associations.BelongsTo if field == details.foreignKey %}
                                            {% set isKey = true %}
                                            <td><?= ${{ singularVar }}->has('{{ details.property }}') ?
                                                $this->Html->link(${{ singularVar }}->{{ details.property }}
                                                ->{{ details.displayField }}, ['controller' => '{{ details.controller }}
                                                ', 'action' => 'view', ${{ singularVar }}->{{ details.property }}
                                                ->{{ details.primaryKey[0] }}]) : '' ?>
                                            </td>
                                        {% endfor %}
                                    {% endif %}
                                    {% if isKey is not same as(true) %}
                                        {% set columnData = Bake.columnData(field, schema) %}
                                        {% if columnData.type not in ['integer', 'float', 'decimal', 'biginteger', 'smallinteger', 'tinyinteger'] %}
                                            <td><?= h(${{ singularVar }}->{{ field }}) ?></td>
                                        {% else %}
                                            <td><?= $this->Number->format(${{ singularVar }}->{{ field }}) ?></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% set pk = '$' ~ singularVar ~ '->' ~ primaryKey[0] %}
                                <td class="btn-group">
                                    <?= $this->Html->link('<i class="fas fa-eye"></i>', ['action' => 'view', {{ pk|raw }}], ['escape' => false, 'class'=>'btn btn-info btn-sm']) ?>
                                    <?= $this->Html->link('<i class="fas fa-pencil-alt"></i>', ['action' => 'edit', {{ pk|raw }}], ['escape' => false,'class'=>'btn btn-warning btn-sm']) ?>
                                    <?= $this->Form->postLink('<i class="fas fa-trash-alt"></i>', ['action' => 'delete', {{ pk|raw }}], ['confirm' => __('Are you sure you want to delete # {0}?', {{ pk|raw }}), 'escape' => false, 'class'=>'btn btn-danger btn-sm']) ?>
                                </td>
                            </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <!-- /.card -->
</section>